<div class="wrapper">
    <div class="container">
        <div class="section">
            <div class="row center">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8">
                    <h1 class="center">Dashboard</h1>
                </div>
                <div class="col s12 m4 l2"></div>
            </div>
        </div>

        <div class="section sectionForm" id="todaysForm">
            <div class="row center">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8">
                    <div class="card white">
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center">Today</span>
                            <div class="divider"></div>
                            <ul class="myUL" id="myUL1">
                                {{#each todays}}
                                    {{#if completed}}
                                        <li class="completed" id = {{id}}>{{todo}}</li>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                    {{else}}
                                        <li id = {{id}}>{{todo}}</li>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="card-action">
                            <input type="text" class="todo" placeholder="To-Do Item">
                            <span class="addbtn btn-small waves-effect waves-light grey darken-4"
                                >Add</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l2"></div>
            </div>
        </div>

        <div class="section sectionForm" id="weeksForm">
            <div class="row center">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8">
                    <div class="card white">
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center">This Week</span>
                            <div class="divider"></div>
                            <ul class="myUL" id="myUL2">
                                {{#each weeks}}
                                    {{#if completed}}
                                        <li class="completed" id = {{id}}>{{todo}}</li>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                    {{else}}
                                        <li id = {{id}}>{{todo}}</li>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="card-action">
                            <input type="text" class="todo" placeholder="To-Do Item">
                            <span class="addbtn btn-small waves-effect waves-light grey darken-4"
                                >Add</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l2"></div>
            </div>
        </div>

        <div class="section sectionForm" id="monthsForm">
            <div class="row center">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8">
                    <div class="card white">
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center div">This Month</span>
                            <div class="divider"></div>
                            <ul class="myUL" id="myUL3">
                             {{#each months}}
                                    {{#if completed}}
                                        <li class="completed" id = {{id}}>{{todo}}</li>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                    {{else}}
                                        <li id = {{id}}>{{todo}}</li>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="card-action">
                            <input type="text" class="todo" placeholder="To-Do Item">
                            <span class="addbtn btn-small waves-effect waves-light grey darken-4"
                                >Add</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l2"></div>
            </div>
        </div>

        <div class="section journalForm" id = "journalsForm">
            <div class="row center">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8">
                    <div class="card white">
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center div">Journals</span>
                            <div class="divider"></div>
                            <div id="journal-entries" style="text-align: left">
                                {{#each journals}}
                                        <p class="entry" id = {{id}}>{{body}}</p>
                                         <button class = "deleteItem" id = {{id}}>X</button>
                                {{/each}}
                            </div>
                        </div>
                        <div class="card-action">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea journal"></textarea>
                                        <label for="textarea1">Share your thoughts</label>
                                        <span
                                            class="addbtn btn-small waves-effect waves-light grey darken-4">Add</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l2"></div>
            </div>
        </div>
    </div>
</div>